/*header*/
.navbar-brand{
    color: #265a88 !important;
    font-weight: bold; 
}
header#masthead{
	height: 50px;
}
/*footer*/
footer .site-info{
	float: right;
}
 /*Comapny*/
 .sub-heading{
 	font-weight: bold;
 	margin: 15px 0;
 }
 .entry-header.company-header{
 	position: fixed;
 }
 .entry-content{
    border: 2px solid #ccc;
    padding: 15px;
 }
 h2.entry-title{
     padding-top: 20px;
    clear: inherit;
 }
 img.img-responsive{
    float: left;
}
.company-link{
	margin: 0 10px;
	color: #0288d1;
    text-decoration: none;
    border-bottom: none !important;
    font-weight: bold !important;
}
.company-social,.company-ul{
	list-style: none;
	    margin: 0;
    padding: 0;
}
.company-ul li{
	display: inline;
	margin: 0 2px;
}
.company-social li{
	display: inline;
	font-size: 20px;
}
.company-social li a{
	margin: 0 5px;
}
.company-social li i.fa {
    font-size: 30px;
}
.project-link{
	margin: 0;
}
.project-heading{
	padding: 0;
	margin: 5px 0 !important;
    letter-spacing: 0;
    text-transform: capitalize;
}
.project-image{
    border: 2px solid;
    border-radius: 5px;
    padding: 15px;
}
.sub-division{
    border-bottom: 2px solid #a7a7a7;
    width: 100%;
    clear: both;
    float: left;
    padding: 0 0 5% 0;
}
.company-list{
	padding: 0 30px;
}
.company-sub-content {
    width: 100%;
    float: left;
    clear: both;
    padding: 15px 0;
    border: 2px solid #eee;
}
.content-heading{
	font-weight: bold;
    color: #7b7b7b;
}





/*form styles*/
#msform {
    width: 100%;
    margin: 50px auto;
    text-align: center;
    position: relative;
    min-height: 600px;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform label{
    float: left;
}
#msform .msform-field {
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    /*font-family: montserrat;*/
    color: #2C3E50;
    font-size: 13px;
}
/*buttons*/
#msform .action-button {
    width: 100px;
    font-weight: bold;
    color: white;
    border: 0 none;
    font-size: 16px;
    background: #27AE60;
    padding: 15px !important;
    border-radius: 1px;
    cursor: pointer;
    /*padding: 10px 5px;*/
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
}





/*****************************/
.reuired-field{
    color: red;
}
.add-element{
    width: 100%;
    clear: both;
    float: left;
    text-align: left;
    margin-bottom: 10px;
}